h1{
    text-align: center;
    margin: 6rem;
}

.container {
    position: absolute;
    top: 25%;
    left: 36%;

    font-size: 0; /*Per togliere gli spazi tra le celle*/
    border: 1px solid black;
}

.container div{
    display: inline-block;
    position: relative;
    font-size: 1rem; /*Il font size a 0 su container toglie anche le lettere, mettendo il font-size all'interno di container ele fa riapparire*/
    
    width: 70px;
    height: 60px;
}

.container span:first-child{
    position: absolute;
    left: 40%;
    bottom: 100%;
}

.container span:nth-child(2){
    position: absolute;
    right: 110%;
    bottom: 35%;
}

.container .ultimo span:nth-child(2){
    left:110%;
    bottom: 35%;
}

.riga span:first-child{
    position: absolute;
    left: 40%;
    top: 100%;
}

.container div:nth-child(even){
    background-color: black;
}

.container div:nth-child(odd){
    background-color: rgb(158, 128, 82);
}

.container div:hover{
    background-color: red;
}