body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    /*Proprietà che specifica il peso del carattere*/
    line-height: 28px;
    /*
        Crea spaziatura verticale coerente tra le righe scegli 
        quanto spazio c'è tra le righe (interlinea di word)
    */
}

.container{
    padding-top: 32px;
    /*Influisce sullo spazio sopra l'elemento*/
    padding-right: 32px;
    padding-left: 32px;
}

.filters{
    display: flex;
    justify-content: space-between;
    /*uniformi spazio tra elementi*/
}

.card_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    margin-right: 20px;
    margin-top: 2rem;
}
.card_info{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 + p{
    margin-bottom: 12px;
    color: #6e6d7a;
}

p + ul{
    display: flex;
    flex-wrap: nowrap;
    /*Gli elementi flessibili rimangono all'interno
    dell'elemento padre    
    */
    justify-content: center;
    margin-bottom: 8px;
    list-style: none;
    /*Rimuove stile predefinito di un elenco
    (puntino della lista)*/
}

.firstli{
    color: #6e6d7a;
}

p + ul li{
    font-size: 14px;
    line-height: 20px;
    margin-right: 16px;
    padding-bottom: 4px;
    color: rgb(241, 55, 86);
}

.filters ul, .filters{
    display: flex;
    align-items: center;
}

.filters ul li{
    padding: 10px 12px;
    color: blueviolet;
    list-style: none;
}

.filters li:last-of-type{
    border-radius: 8px;
    background: rgb(13, 12, 34, 0.05);
    font-weight: 600;
}

.filters div{
    border-radius: 8px;
    box-shadow: 0px, 0px, 0px, 1px #e7e7e9 inset;
    padding: 10px, 16px;
}

.card img{
    width: 350px;
    height: 255px;
    border-radius: 10px;
}

.card_info img{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    margin-right: 5px;
}

.card_info img + span{
    font-weight: 600;
}

.card_info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_info div:last-of-type span{
    margin-right: 5px;
}

.card_info div:first-of-type div:last-of-type{
    border-radius: 4px;
    background: white;
    color: white;
    font-size: 10px;
    font-weight: bold;
    line-height: 1px;
    text-transform: uppercase; 
    /*utilizzato per far apparire il testo tutto maiuscolo*/
    padding: 2px 3px;
    margin-left: 5px;
}

.card_info i{
    margin-right: 0.3rem;
}

.card_info div:first-child span:last-child{
    margin-left: 5px;
    background-color: rgb(194, 189, 189);
    color: white;
    border-radius: 10px;
    padding: 0px 5px;
}

.filters div:first-child span{
    border: 5px solid rgb(243, 231, 233);
    padding: 10px 12px;
    border-radius: 10px;
}

.filters div:last-child span{
    border: 3px solid rgb(240, 233, 233);
    padding: 10px 12px;
    border-radius: 10px;
}

#boosted{
    color: #6e6d7a;
}