body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menufix{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    width: 100%;
    background-color: #222f3e;
    padding: 5px;
    padding-left: 10px;
}

#logo1{
    height: 40px;
}

.menu{
    background-color: #364759;
    padding: 3px;
}

.sottomenu{
    color: white;
    text-decoration: none;
    padding: 3px;
}

main{
    background-color: #eaeded;
    padding-top: 0.2rem;
}

#titolo{
    background-color: #f56600;
    text-align: center;
    color: white;
    padding: 5px;
    margin: 20px;
    margin-top: 100px; /*Per staccare da menufix*/
}

#holiday{
    background-image: url(assets/bg-image.png);
    text-align: center;
    color: white;
    padding: 50px;
    margin: 20px;
}

#shop{
    padding: 3px;
    margin: 10px;
    text-align: left;
}


/*Inizio es.*/

.shop2{
    display: flex;
    justify-content: center;
}

.card{
    position: relative;
}

.carrello{
    position: absolute;
    bottom: 5%;
    left: 25%;
    padding: 10px 30px;

    color: white;
    background-color: #007185;
    border-radius: 5px;

    display: none;
    z-index: -1;
}

.img:hover{
    opacity: .8;
}

.card:hover .carrello{
    display: block;
    z-index: 0;
}

.card span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
}

.cuore{
    position: absolute;
    top: 3%;
    right: 6%;
    padding: 10px 30px;
    font-size: 2rem;

    color: white;

    display: none;
    z-index: -1;
}

.card:hover .cuore{
    display: block;
    z-index: 0;
}


/**/

.shopnow{
    margin-left: 1rem;
    text-decoration: none;
    color: #007185;
    text-decoration: ;
}

#immagini{
    background-color: white;
    padding: 5px;
    margin: 20px;
    text-align: center;
}

.img{
    width: 280px;
    height: 350px;
    justify-content: space-between;
    margin-right: 2.1rem;
    margin-left: 2.1rem;
    object-fit: cover;
    /* l'immagine si estende su tutta
     l'area del box, ma per rispettare 
     il rapporto d'aspetto viene ridimensionata 
     e ritagliata quanto necessario*/
    border-radius: 10px;
    box-shadow: 4px 4px 8px 0 rgba(71, 98, 118, 0.2);
}

.divimg2{
    text-align: center;
}

.img3{
    width: 96.9%;
    padding: 5px;
}

#back{
    text-align: center;
    background-color: #364759;
    padding: 10px;
}

#logo2{
    width: 100%;
    background-color: #222f3e;
    padding: 5px;
    padding-left: 10px;
    text-align: center;
}

#logo2 img{
    width: 150px;
    padding: 2.5rem;
}

.link{
    text-decoration: none;
    color: #007185;
}

#gruppotot{
    background-color: white;
    padding: 5px;
    margin: 20px;
    text-align: center;
}

.gruppo{
    display: inline-block;
    background-color: white;
    padding: 5px;
    margin: 10px;
    margin-left: 20px;
    width: 328px;
    margin-right: 1.05rem;
}

.riga{
    text-align: center;
}

.gruppoimg{
    width: 120px;
    display: inline-block;
    margin: 1rem;
}

.gruppoimg p{
    text-align: left;
    margin: 0;
}

.img2{
    height: 120px;
    width: 115px;
    margin-right: 2.1rem;
    object-fit: cover;
}

.titolocard{
    font-size: 22px;
    margin: 0;
}

.sottoriga{
    margin-top: 3px;
}